/* fonts */
@font-face {
    font-family: "JetBrains Mono";
    src: url("fonts/JetBrainsMono-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "JetBrains Mono";
    font-style: italic;
    src: url("fonts/JetBrainsMono-Italic.woff2") format("woff2");
}

@font-face {
    font-family: "JetBrains Mono";
    font-weight: bold;
    src: url("fonts/JetBrainsMono-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "JetBrains Mono";
    font-weight: bold;
    font-style: italic;
    src: url("fonts/JetBrainsMono-BoldItalic.woff2") format("woff2");
}

/* styles */
:root {
    /* I should probably use some already existing color scheme instead of creating my own */
    --text-color: rgb(225, 225, 225);
    --bg-color: rgb(15, 15, 15);
    --bg2-color: rgb(30, 30, 30);
    --border-color: rgb(100, 100, 100);
    --keybinds-color: rgb(150, 150, 150);
    --link-color: #6ba4ff; /* color used for node's border during linking */
    --grab-color: rgb(100, 100, 255); /* border color for grabbed node */
}

/* MAIN INTERFACE */
.main {
    width: 100vw;
    height: 100vh;
    font-family: "JetBrains Mono", monospace;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.node-diagram {
    position: relative;
    height: 100%;
}

/* CONTEXT MENU */
.context-menu {
    display: flex;
    flex-direction: column;
    gap: 4px;
    box-sizing: border-box;

    position: absolute;
    padding: 5px;

    background-color: var(--bg2-color);
    border: 1px solid var(--border-color);
}

.context-menu_button {
    cursor: pointer;

    padding: 5px 15px;
    color: var(--text-color);
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);

    transition: background-color 100ms ease-out;
}

.context-menu_button:hover {
    background-color: var(--bg2-color);
}

/* EDITABLE TEXT */
.editable_input {
    box-sizing: border-box;
    width: 100%;
    color: inherit;
    background-color: transparent;
    outline: none;
    border: none;
    padding: 6px 4px;
}

/* NODES */
.node {
    position: absolute;
    width: 160px;
    cursor: grab;
    user-select: none;
    box-sizing: border-box;

    background-color: var(--bg2-color);
    border: 1px solid var(--border-color);

    transition:
        transform 150ms ease-out,
        border-color 150ms ease-out;
}

.node-title {
    font-size: 18px;
    padding: 6px 0;
    text-align: center;
    background-color: rgb(60, 60, 60);
    overflow-wrap: break-word;
}

.node-title:has(.editable_input),
.node-title:has(.editable_input) .editable_input {
    background-color: rgb(50, 50, 50);
}

.node-value {
    font-size: 16px;
    padding: 6px 8px;
    overflow-wrap: break-word;
}

.node-value:has(.editable_input),
.node-value:has(.editable_input) .editable_input {
    background-color: rgb(20, 20, 20);
}

/* CONNECTORS */
.arrow {
    position: absolute;
    height: 2px;
    background-color: var(--text-color);
    transform-origin: 0% 50%;
}

.arrow-head {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid var(--text-color);
    transform-origin: 50% 50%;
}

/* keybinds */
.keybinds {
    position: absolute;
    top: 20px;
    right: 40px;

    user-select: none;
    pointer-events: none;

    list-style-type: none;
    padding: 0;
    margin: 0;

    font-size: 18px;
    letter-spacing: -1px;
    opacity: 0.7;
}
